body {
  background-color: aqua;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  font-family: "Comic Sans MS";
  font-size: 60px;
  text-align: center;
  color: darkblue;
}
.nama {
  color: white;
}
h4 {
  text-align: right;
  font-style: italic;
}
.pertama {
  text-align: center;
  color: goldenrod;
}
.kedua {
  text-align: right;
}
